$primary-colour: #0375b4;

$error-colour: #e52525;
$success-colour: #008000;

$light-colour: #f5f5f5;
$light-grey: #eeeeee;
$grey: #808080;
$dark-colour: #333333;

$tablet-width: 768px;
$desktop-width: 1200px;

$colour-schemes: (
    blue: (
        main: #0375b4,
        hover: #035691,
        dark: #03427d,
    ),
    red: (
        main: #e52525,
        hover: #c32424,
        dark: #af2323,
    ),
    orange: (
        main: #e1a02f,
        hover: #d2922e,
        dark: #c88c2e,
    ),
    lime-green: (
        main: #b5c82f,
        hover: #a6b930,
        dark: #91a42f,
    ),
    green: (
        main: #5cb85c,
        hover: #54a754,
        dark: #4b944b,
    ),
    purple: (
        main: #80379b,
        hover: #62357d,
        dark: #4e3469,
    ),
);
