/*
  Any css for many templates and/or components.
*/

.link-styled {
	color: $dark;
	border-bottom: transparent solid 1px;
}

.link-styled:hover {
	color: darken($dark, 10%);
	border-bottom-color: darken($dark, 10%);
}

@each $color, $colors in $colors {
	.link-styled--#{$color} {
		color: map-get($colors, main);
		border-bottom: transparent solid 1px;
	}

	.link-styled--#{$color}:hover {
		color: map-get($colors, hover);
		border-bottom-color: map-get($colors, hover);
	}
}