# Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

# Stop users from viewing these folders/files
<Files /node_modules/>
    order allow,deny
    deny from all
</Files>

<Files .gitattributes>
    order allow,deny
    deny from all
</Files>

<Files .gitignore>
    order allow,deny
    deny from all
</Files>

<Files .htaccess>
    order allow,deny
    deny from all
</Files>

<Files gulpfile.js>
    order allow,deny
    deny from all
</Files>

<Files package.json>
    order allow,deny
    deny from all
</Files>

<Files README.md>
    order allow,deny
    deny from all
</Files>

RewriteEngine On

# Redirect all requests to main index router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ index.php/$1

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(.+)/$
RewriteRule ^(.*)$ %{REQUEST_URI}/ [R=301,L]

# Add caching for resources
<IfModule mod_headers.c>
    # Cache specified static files for 1 year
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|css|svg|js)$">
        Header set Cache-Control "max-age=31556952, public"
    </FilesMatch>
    # Cache specified files for 1 week
    <FilesMatch "\.(html|php)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"

    AddType application/font-woff woff
    AddType application/font-woff2 woff2
    AddType application/vnd.ms-fontobject eot
    AddType application/x-font-ttf ttc ttf
    AddType font/opentype otf

    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/svg+xml "access 1 year"

    ExpiresByType application/json "access 1 year"
    ExpiresByType application/javascript "access 1 year"
    ExpiresByType application/x-javascript "access 1 year"

    ExpiresByType application/vnd.ms-fontobject "access 1 year"

    ExpiresByType application/font-woff "access 1 year"
    ExpiresByType application/x-font-woff "access 1 year"
    ExpiresByType application/font-woff2 "access 1 year"
    ExpiresByType application/x-font-woff2 "access 1 year"
    ExpiresByType application/x-font-ttf "access 1 year"
    ExpiresByType font/eot "access 1 year"
    ExpiresByType font/opentype "access 1 year"
    ExpiresByType font/woff2 "access 1 year"

    ExpiresByType text/plain "access 1 year"
    ExpiresByType text/css "access 1 year"
    ExpiresByType text/javascript "access 1 year"

    ExpiresByType text/html "access 1 week"

    ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>
