/*
  Any base css for all pages.
  Any css for components/templates that will only have 1 line of code if separated.
*/

/* For all devices */
body {
    font: 400 14px "Cabin", sans-serif;
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: $light-colour;
    color: $dark-colour;
}

a {
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: 700;
}

/* Only for Desktops */
@media only screen and (min-width: $tablet-width) {
    body {
        font-size: 15px;
        line-height: 20px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    body {
        font-size: 16px;
        line-height: 21px;
    }
}
