/* For all devices */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: left;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.main-content {
    display: flex;
    width: 100%;
    transition: margin-left 0.4s ease-in-out, padding-left 0.4s ease-in-out;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .container {
        max-width: 1170px;
    }
}
