/*
  IMPORT ALL NECESSARY CSS FILES
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "\00a0";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 Google Cabin Font
 */
/* vietnamese */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: local("Cabin"), local("Cabin-Regular"), url(https://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8___1amg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: local("Cabin"), local("Cabin-Regular"), url(https://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8-__1amg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: local("Cabin"), local("Cabin-Regular"), url(https://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8w__0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* For all devices */
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: auto;
  text-align: left; }

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  transition: all 1s ease-in-out; }

.main-content {
  display: flex;
  transition: all 1s ease-in-out; }

p {
  margin: 10px 0; }

img {
  vertical-align: middle; }

.main-content ul {
  padding-left: 20px;
  margin: 10px 0;
  list-style: inside; }

.main-content li {
  margin: 2px 0; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px; }
  .main-content li {
    margin: 5px 0; } }

/*
  Any base css for all pages.
  Any css for components/templates that will only have 1 line of code if separated.
*/
/* For all devices */
body {
  font: 400 14px "Cabin", sans-serif;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #f5f5f5;
  color: #333333; }

a {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: inherit; }

strong {
  font-weight: 700; }

/* Only for Desktops */
@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 21px; } }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*
  Any css for many templates and/or components.
*/
.fixed-overlay {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -10;
  padding: 50px;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  opacity: 0;
  transition: opacity 1s ease-in-out, z-index 0s ease-in-out; }

.fixed-overlay--loading {
  z-index: 10;
  opacity: 1; }

.fixed-overlay__text {
  margin: auto;
  color: white; }

/* For all devices */
button,
[type="button"],
[type="submit"] {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none; }

.btn {
  font: inherit;
  margin: 5px;
  width: auto;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
  background-color: #333333; }

.btn:hover,
.btn:focus {
  background-color: #262626; }

.btn:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65; }

.btn--blue {
  background-color: #0375b4; }

.btn--blue:hover,
.btn--blue:focus {
  background-color: #035691; }

.btn--red {
  background-color: #e52525; }

.btn--red:hover,
.btn--red:focus {
  background-color: #c32424; }

.btn--orange {
  background-color: #e1a02f; }

.btn--orange:hover,
.btn--orange:focus {
  background-color: #d2922e; }

.btn--lime-green {
  background-color: #b5c82f; }

.btn--lime-green:hover,
.btn--lime-green:focus {
  background-color: #a6b930; }

.btn--green {
  background-color: #5cb85c; }

.btn--green:hover,
.btn--green:focus {
  background-color: #54a754; }

.btn--purple {
  background-color: #80379b; }

.btn--purple:hover,
.btn--purple:focus {
  background-color: #62357d; }

.btn--clear {
  background-color: transparent;
  border-color: transparent;
  color: white; }

.btn--clear:hover,
.btn--clear:focus,
.btn--clear:active,
.btn--clear:active:hover,
.btn--clear:active:focus {
  background-color: transparent;
  color: #cccccc; }

a.btn {
  margin: 5px;
  transition: none;
  font-weight: 700;
  text-decoration: none;
  display: inline-block; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .btn {
    margin: 7px;
    padding: 9px 14px; } }

/* For all devices */
.input-group {
  margin-bottom: 10px;
  padding: 0 2px; }

label {
  margin: 5px 0 0 0;
  font-weight: 700;
  display: inline-block; }

.required,
.notice {
  color: #e52525;
  font-weight: 700; }

.input {
  font: inherit;
  padding: 6px 12px;
  margin: 5px auto;
  width: 100%;
  border: solid #e0e0e0 1px;
  border-radius: 2px;
  color: #333333;
  outline: none;
  background: white;
  transition: all 0.3s ease-in-out; }

.input::placeholder {
  color: gray; }

.input:focus {
  box-shadow: 0 0 8px #0375b4;
  border-color: #0375b4; }

.input.invalid {
  border-color: #e52525; }

.input:focus.invalid {
  border-color: #e52525;
  box-shadow: 0 0 8px rgba(229, 37, 37, 0.6); }

.input.valid {
  border-color: green; }

.input:focus.valid {
  border-color: green;
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.6); }

.styled-checkbox {
  position: relative;
  padding-left: 32px;
  margin: 5px 0;
  padding-top: 2px; }

.styled-checkbox .checkbox {
  display: none; }

.styled-checkbox__label {
  margin: 0;
  cursor: pointer; }

.styled-checkbox__pseudo {
  content: "\00a0";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  border: 2px solid gray;
  transition: all 0.3s ease-in-out; }

.styled-checkbox:hover .checkbox + .styled-checkbox__pseudo {
  border-color: #0375b4; }

.styled-checkbox .checkbox:checked + .styled-checkbox__pseudo {
  background-color: #0375b4;
  border-color: #0375b4; }

.styled-checkbox__pseudo:after {
  display: none;
  content: "\2714";
  color: white;
  font-size: 22px;
  line-height: 20px; }

.styled-checkbox .checkbox:checked ~ .styled-checkbox__pseudo:after {
  display: block; }

.feedback {
  font-weight: 700;
  margin: 0;
  display: none;
  width: 100%; }

.feedback--success {
  color: green; }

.feedback--error {
  color: #e52525; }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .styled-checkbox {
    margin: 8px 0;
    padding-top: 4px; }
  .styled-checkbox__pseudo {
    width: 30px;
    height: 30px; }
  .styled-checkbox__pseudo:after {
    font-size: 28px;
    line-height: 27px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .input {
    padding: 9px 14px; } }

.nav {
  display: none;
  z-index: 3;
  margin: 0 -15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.7s ease-in-out;
  background-color: white;
  box-shadow: 0 0 10px 0 #333333; }

.nav__header {
  height: 46px; }

.nav__mobile-toggle {
  position: absolute;
  top: 0;
  right: 16px;
  margin: 6px 10px 6px 0;
  padding: 7px;
  border: solid transparent 2px;
  border-radius: 50%;
  transition: all 0.7s ease-in-out; }

.menu-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #333333;
  transition: all 0.7s ease-in-out;
  position: relative; }

.opened .nav__mobile-toggle {
  border-color: #e52525; }

.opened .menu-bar {
  background-color: #e52525; }

.menu-bar--top {
  top: 0; }

.menu-bar--middle {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto; }

.menu-bar--bottom {
  top: 0;
  margin-top: 4px; }

.opened .menu-bar--top {
  top: 6px;
  transform: rotate(45deg); }

.opened .menu-bar--middle,
.opened:hover .menu-bar--middle {
  background-color: transparent;
  width: 0; }

.opened .menu-bar--bottom {
  top: -6px;
  transform: rotate(-45deg); }

.nav__links-container {
  display: none; }

.nav__links {
  border-top: #eeeeee 1px solid; }

.nav__links-container--left .nav__links {
  border-top: none; }

.nav-item__link {
  display: block;
  padding: 9px 12px;
  font-size: 28px;
  color: #333333;
  text-align: center; }

.nav-item__link:focus,
.nav-item__link:hover {
  color: #0375b4; }

.nav-item__link.active {
  background-color: #0375b4;
  color: white; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .nav {
    margin: 0; }
  .nav__container {
    display: flex; }
  .nav__header {
    flex: 1;
    order: 2; }
  .nav__mobile-toggle {
    display: none; }
  .nav__links-container {
    display: block;
    flex: 1;
    order: 3; }
  .nav__links-container--left {
    order: 1;
    text-align: left; }
  .nav__links-container--left .nav__links {
    float: left; }
  .nav__links {
    border-top: none;
    float: right; }
  .nav-link__item {
    float: left; } }

/* For all devices */
.pagination.pagination {
  display: block;
  padding: 0;
  list-style: none; }

.pagination__item {
  display: inline-block; }

.pagination__item-link.pagination__item-link {
  display: inline-block;
  margin: 6px 4px;
  cursor: pointer;
  padding: 6px 12px;
  background-color: #0375b4;
  border: 1px solid #03659b;
  color: white; }

.pagination__item-link:hover {
  background-color: #03659b;
  border-color: #024469; }

.pagination__item-link.active,
.pagination__item-link.active:hover {
  background-color: #333333;
  border-color: #2e2e2e; }

.login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; }

.login__form {
  width: 100%;
  max-width: 330px;
  margin: auto; }

.login__feedback {
  padding: 5px;
  display: block;
  text-align: center;
  margin: 5px; }

.projects-select {
  display: none;
  text-align: center; }

.projects-select__add-button.projects-select__add-button {
  margin-top: 10px; }

.projects-select__edit-button {
  margin-top: 10px; }

.projects-select__delete-button {
  margin-top: 10px; }

.projects-select__option input {
  cursor: pointer;
  vertical-align: middle;
  margin: 5px; }

.projects-select__feedback {
  padding: 5px;
  display: block;
  text-align: center; }

.project-view {
  display: none; }

.project__form {
  text-align: center;
  padding: 5px; }

.project__save-button {
  display: block;
  margin: 5px 0 5px auto;
  font-weight: 400; }

.project__back-button.project__back-button {
  margin-left: 5px;
  margin-top: 15px; }

.project__uploads {
  margin: 10px 0; }

.project__upload {
  margin: 10px auto;
  padding: 5px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid white; }

.project__upload--success {
  border-color: #0375b4; }

.project__upload--success img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto; }

.project__upload--failed {
  border-color: #d71a1a;
  color: #e52525; }

.project__feedback {
  display: block;
  text-align: center;
  position: fixed;
  color: white;
  background: white;
  border: 1px solid white;
  left: 0;
  right: 0;
  margin: 15px 20px;
  padding: 10px;
  z-index: 2;
  opacity: 1;
  max-height: 50px;
  width: auto;
  transition: opacity 0.2s ease-in-out, padding 0.2s ease-in-out 0.2s, max-height 0.2s ease-in-out 0.2s; }

.project__feedback.hide {
  opacity: 0;
  padding: 0;
  max-height: 0; }

.project__feedback.feedback--error {
  border-color: #e52525;
  background: #e52525; }

.project__feedback.feedback--success {
  border-color: green;
  background: green; }

.project__hide-error {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: white;
  font-weight: 700;
  padding-left: 30px; }

.project__images-container.project__images-container {
  padding: 0; }

.project__image-container {
  width: 100%;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  margin: 5px 0;
  position: relative;
  list-style: none;
  border: 1px solid #e0e0e0;
  cursor: pointer; }

.project__image {
  max-width: 100%;
  max-height: 200px;
  height: auto; }

.project__image-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.19); }

.project__skill-input-container {
  position: relative; }

.project__skill-input {
  margin: 0;
  width: 100%; }

.project__skill-add-button {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 7px 12px; }

.project__skill {
  position: relative;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 2px 4px;
  display: inline-block;
  margin: 2px;
  transition: all 0.4s ease-in-out;
  background-color: #333333;
  color: white;
  cursor: pointer; }

.project__skill--blue {
  background-color: #0375b4;
  border-color: #035691; }

.project__skill--red {
  background-color: #e52525;
  border-color: #c32424; }

.project__skill--orange {
  background-color: #e1a02f;
  border-color: #d2922e; }

.project__skill--lime-green {
  background-color: #b5c82f;
  border-color: #a6b930; }

.project__skill--green {
  background-color: #5cb85c;
  border-color: #54a754; }

.project__skill--purple {
  background-color: #80379b;
  border-color: #62357d; }

.project__skill-delete-button {
  margin: 2px;
  padding: 0;
  background-color: transparent;
  border: none; }

.project__skill-delete-button:hover,
.project__skill-delete-button:active {
  background-color: transparent; }

/* For tablets and some are for desktops */
@media only screen and (min-width: 768px) {
  .project-view,
  .project__uploads {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; }
  .project__feedback {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto; } }

/* For desktops */
@media only screen and (min-width: 1200px) {
  .project__image-container {
    width: calc(50% - 5px);
    display: inline-block; }
  .project__image-container:nth-child(odd) {
    margin: 0 5px 10px 0; }
  .project__image-container:nth-child(even) {
    margin: 0 0 10px 5px; }
  .project__image-container:last-child,
  .project__image-container:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0; }
  .project__image-container:last-child:nth-child(odd) {
    margin-right: 0; }
  .project__skill-add-button {
    padding: 10px 12px; } }
