/* For all devices */
.input {
	font: inherit;
	padding: 6px 12px;
	margin: 5px auto;
	width: 100%;
	border: solid #E0E0E0 1px;
	border-radius: 2px;
	color: $dark;
	outline: none;
	background: white;
	transition: all .3s ease-in-out;
}

.input::placeholder {
	color: $grey;
}

.input:focus {
	box-shadow: 0 0 8px $primary-color;
	border-color: $primary-color;
}

.input.invalid {
	border-color: $error;
}

.input:focus.invalid {
	border-color: $error;
	box-shadow: 0 0 8px transparentize($error, .4);
}

.input.valid {
	border-color: $success;
}

.input:focus.valid {
	border-color: $success;
	box-shadow: 0 0 8px transparentize($success, .4);
}

.styled-checkbox .input {
	display: none;
}

.styled-checkbox__pseudo {
	position: relative;
	margin-left: 20px;
}

.styled-checkbox__pseudo:before {
	content: "\00a0";
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	border: 2px solid $grey;
	transition: all .3s ease-in-out;
}

.input:checked + .styled-checkbox__pseudo:before {
	background-color: $primary-color;
	border-color: $primary-color;
	content: "\2714";
	font-size: 16px;
	line-height: 1;
	color: white;
	padding: 1px 2px;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
	.input {
		padding: 9px 14px;
	}
}