/* For all devices */
.pagination.pagination {
    display: block;
    padding: 0;
    list-style: none;
}

.pagination__item {
    display: inline-block;
}

.pagination__item-link.pagination__item-link {
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
    padding: 6px 12px;
    background-color: $primary-colour;
    border: 1px solid darken($primary-colour, 5%);
    color: white;
}

.pagination__item-link:hover {
    background-color: darken($primary-colour, 5%);
    border-color: darken($primary-colour, 15%);
}

.pagination__item-link.active,
.pagination__item-link.active:hover {
    background-color: $dark-colour;
    border-color: darken($dark-colour, 2%);
}
