/*
  ADMIN CSS START
 */
/* For all devices */
.admin-page {
	background-color: $light;
	margin: auto;
	text-align: left;
}

.admin-page .nav {
	display: none;
}

.admin-page .nav__links a {
	padding: 8px 12px;
	font-size: 28px;
}

.admin-page .nav__links a:hover {
	border-bottom-color: transparent;
}

.fixed-overlay {
	z-index: -10;
	opacity: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background: transparentize($dark, .4);
	font-size: 50px;
	line-height: 60px;
	transition: opacity 1s ease-in-out,
				z-index 0s ease-in-out;
	text-align: center;
	padding: 50px;
}

.fixed-overlay--loading {
	z-index: 10;
	opacity: 1;
}

.fixed-overlay__text {
	margin: auto;
	color: white;
}

.login {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.login__form {
	width: 100%;
	max-width: 330px;
	margin: auto;
}

.login__feedback {
	padding: 5px;
	display: block;
	text-align: center;
	margin: 5px;
}

.project-select {
	display: none;
	text-align: center;
}

.project-select__add-button.project-select__add-button {
	margin-top: 10px;
}

.project-select__edit-button {
	margin-top: 10px;
}

.project-select__delete-button {
	margin-top: 10px;
}

.project-select__option label,
.project-select__option input {
	cursor: pointer;
	vertical-align: middle;
	margin: 5px;
}

.project-select__feedback {
	padding: 5px;
	display: block;
	text-align: center;
}

.pagination--admin.pagination--admin {
	display: block;
	list-style: none;
}

.project-view {
	display: none;
}

.project__form {
	text-align: center;
	padding: 5px;
}

.project__save-button {
	display: block;
	margin: 5px 0 5px auto;
	font-weight: 400;
}

.project__back-button.project__back-button {
	margin-left: 5px;
	margin-top: 15px;
}

.project__uploads {
	margin: 10px 0;
}

.project__upload {
	margin: 10px auto;
	padding: 5px;
	border-radius: 6px;
	background-color: white;
	border: 2px solid white;
}

.project__upload--success {
	border-color: $primary-color;
}

.project__upload--success img {
	display: block;
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
}

.project__upload--failed {
	border-color: darken($error, 5%);
	color: $error;
}

.project__feedback {
	display: block;
	text-align: center;
	position: fixed;
	color: white;
	background: white;
	border: 1px solid white;
	left: 0;
	right: 0;
	margin: 15px 20px;
	padding: 10px;
	z-index: 2;
	opacity: 1;
	max-height: 50px;
	width: auto;
	transition: opacity 0.2s ease-in-out,
				padding 0.2s ease-in-out 0.2s,
				max-height 0.2s ease-in-out 0.2s;
}

.project__feedback.hide {
	opacity: 0;
	padding: 0;
	max-height: 0;
}

.project__feedback.feedback--error {
	border-color: $error;
	background: $error;
}

.project__feedback.feedback--success {
	border-color: $success;
	background: $success;
}

.project__hide-error {
	position: absolute;
	right: 0;
	margin-right: 10px;
	color: white;
	font-weight: 700;
	padding-left: 30px;
}

.project__images-container.project__images-container {
	padding: 0;
}

.project__image-container {
	width: 100%;
	padding: 5px;
	background-color: white;
	border-radius: 4px;
	margin: 5px 0;
	position: relative;
	list-style: none;
	border: 1px solid #E0E0E0;
	cursor: pointer;
}

.project__image {
	max-width: 100%;
	max-height: 200px;
	height: auto;
}

.project__image-delete-button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 7px;
	height: 30px;
	width: 30px;
	padding: 0;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 transparentize($dark, .81);
}

.project__skill-input-container {
	position: relative;
}

.project__skill-input {
	margin: 0;
	width: 100%;
}

.project__skill-add-button {
	position: absolute;
	right: 0;
	margin: 0;
	top: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding: 7px 12px;
}

.project__skill {
	position: relative;
	border: 1px solid darken($dark, 5%);
	border-radius: 5px;
	padding: 2px 4px;
	display: inline-block;
	margin: 2px;
	transition: all .4s ease-in-out;
	background-color: $dark;
	color: white;
	cursor: pointer;
}

@each $color, $colors in $colors {
	.project__skill--#{$color} {
		background-color: map-get($colors, main);
		border-color: map-get($colors, hover);
	}
}

.project__skill-delete-button {
	margin: 2px;
	padding: 0;
	background-color: transparent;
	border: none;
}

.project__skill-delete-button:hover,
.project__skill-delete-button:active {
	background-color: transparent;
}

/* For tablets and some are for desktops */
@media only screen and (min-width: $tablet) {
	.project-view,
	.project__uploads {
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
	}

	.project__feedback {
		max-width: 635px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* For desktops */
@media only screen and (min-width: $desktop) {
	.project__image-container {
		width: calc(50% - 5px);
		display: inline-block;
	}

	.project__image-container:nth-child(odd) {
		margin: 0 5px 10px 0;
	}

	.project__image-container:nth-child(even) {
		margin: 0 0 10px 5px;
	}

	.project__image-container:last-child,
	.project__image-container:nth-last-child(2):nth-child(odd) {
		margin-bottom: 0;
	}

	.project__image-container:last-child:nth-child(odd) {
		margin-right: 0;
	}

	.project__skill-add-button {
		padding: 10px 12px;
	}
}

/*
    ADMIN CSS END
*/