.project-select {
	display: none;
	text-align: center;
}

.project-select__add-button.project-select__add-button {
	margin-top: 10px;
}

.project-select__edit-button {
	margin-top: 10px;
}

.project-select__delete-button {
	margin-top: 10px;
}

.project-select__option label,
.project-select__option input {
	cursor: pointer;
	vertical-align: middle;
	margin: 5px;
}

.project-select__feedback {
	padding: 5px;
	display: block;
	text-align: center;
}