/* For all devices */
button,
[type="button"],
[type="submit"] {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn {
    font: inherit;
    margin: 5px;
    width: auto;
    padding: 6px 12px;
    border-radius: 2px;
    color: white;
    background-color: $dark-colour;

    .material-symbols-outlined {
        pointer-events: none;
    }
}

.btn:hover,
.btn:focus {
    background-color: darken($dark-colour, 5%);
}

.btn:disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
}

.btn--primary {
    background-color: $primary-colour;
}

.btn--primary:hover,
.btn--primary:focus {
    background-color: $primary-light-colour;
}

.btn--danger {
    background-color: $red;
}

.btn--danger:hover,
.btn--danger:focus {
    background-color: $red-light;
}

.btn--clear {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.btn--clear:hover,
.btn--clear:focus,
.btn--clear:active,
.btn--clear:active:hover,
.btn--clear:active:focus {
    background-color: transparent;
    color: darken(white, 20%);
}

a.btn {
    margin: 5px;
    transition: none;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .btn {
        margin: 7px;
    }
}
