/* For all devices */
.input-group {
    &:not(:last-child) {
        margin-bottom: $v-spacing;
    }
}

label,
.label {
    margin: 0 0 2px;
    font-weight: 700;
    display: inline-block;

    span {
        font-size: 14px;
        font-weight: 400;
    }
}

.notice {
    color: get-colour(red, main);
    font-weight: 700;
}

.input {
    font: inherit;
    padding: 6px 12px;
    margin: 0 auto;
    width: 100%;
    border: solid $light-grey 1px;
    border-radius: 2px;
    color: $dark-colour;
    outline: none;
    background: white;
    transition: all 0.3s ease-in-out;
}
.input--inline {
    display: inline-block;
    width: auto;
}

.input::placeholder {
    color: $grey;
}

.input:focus {
    border-color: $dark-colour;
}

.input.invalid {
    border-color: $error-colour;
}

.input.valid {
    border-color: $success-colour;
}

.styled-checkbox {
    position: relative;
    padding-left: 32px;
    margin: 5px 0;
    padding-top: 2px;
}

.styled-checkbox .checkbox {
    opacity: 0;
    display: inline;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.styled-checkbox__label {
    margin: 0;
    cursor: pointer;
}

.styled-checkbox__pseudo {
    content: "\00a0";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    border: 2px solid $grey;
    transition: all 0.3s ease-in-out;
}

.styled-checkbox .checkbox:focus + .styled-checkbox__pseudo,
.styled-checkbox:hover .checkbox + .styled-checkbox__pseudo {
    border-color: $primary-colour;
}

.styled-checkbox .checkbox:checked + .styled-checkbox__pseudo {
    background-color: $primary-colour;
    border-color: $primary-colour;
}

.styled-checkbox__pseudo:after {
    display: none;
    content: "\2714";
    color: white;
    font-size: 22px;
    line-height: 20px;
}

.styled-checkbox .checkbox:checked ~ .styled-checkbox__pseudo:after {
    display: block;
}

.radio-toggle {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.radio-toggle__toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: get-colour(red, main);
    transition: .4s;
    border-radius: 34px;

    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 10px;
        bottom: 6px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
}

input:checked + .radio-toggle__toggle {
    background-color:  get-colour(dark-green, main);
}

input:focus + .radio-toggle__toggle {
    box-shadow: 0 0 1px get-colour(dark-green, main);
}

input:checked + .radio-toggle__toggle:before {
    transform: translateX(18px);
}

.feedback {
    font-weight: 700;
    margin: 0;
}

.feedback--success {
    color: $success-colour;
}

.feedback--error {
    color: $error-colour;
}

/* Only for Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .styled-checkbox {
        margin: 8px 0;
        padding-top: 4px;
    }

    .styled-checkbox__pseudo {
        width: 30px;
        height: 30px;
    }

    .styled-checkbox__pseudo:after {
        font-size: 28px;
        line-height: 27px;
    }
}

@media only screen and (min-width: $desktop-width) {
}
