.nav {
    display: none;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px 0 $dark-colour;
    text-align: right;
    transition: width 0.4s ease-in-out;
    width: 56px;
}
.nav--shown {
    display: block;
}

.nav--opened {
    width: 200px;
}

.nav + .main-content {
    margin-left: 0;
    padding-left: 56px;
}

.nav--opened + .main-content {
    position: relative;
    margin-left: 200px;
    padding-left: 0;

    &::before {
        content: " ";
        background: black;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}

.nav__toggle {
    margin: 16px 10px 6px 10px;
    padding: 7px;
    border: solid transparent 2px;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.nav__toggle-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: $dark-colour;
    transition: all 0.7s ease-in-out;
    position: relative;
}

.nav--opened .nav__toggle {
    border-color: get-colour(red, main);
}

.nav--opened .nav__toggle-bar {
    background-color: get-colour(red, main);
}

.nav__toggle-bar:nth-child(2) {
    top: 0;
}

.nav__toggle-bar:nth-child(3) {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.nav__toggle-bar:nth-child(4) {
    top: 0;
    margin-top: 4px;
}

.nav--opened .nav__toggle-bar:nth-child(2) {
    top: 6px;
    transform: rotate(45deg);
}

.nav--opened .nav__toggle-bar:nth-child(3),
.nav--opened:hover .nav__toggle-bar:nth-child(3) {
    background-color: transparent;
    width: 0;
}

.nav--opened .nav__toggle-bar:nth-child(4) {
    top: -6px;
    transform: rotate(-45deg);
}

.nav__links {
    margin-top: 40px;
    transition: all .4s ease-in-out;
    border-top: $light-grey 1px solid;
    text-align: left;
    opacity: 0;
    overflow: hidden;
}

.nav--opened .nav__links {
    opacity: 1;
}

.nav__link {
    display: block;
    padding: 9px 12px;
    color: $dark-colour;
    white-space: nowrap;

    i {
        pointer-events: none;
        font-size: 28px;
        vertical-align: middle;
        padding-right: 8px;
    }
}

.nav__link:focus,
.nav__link:hover {
    color: get-colour(dark-blue, main);
}

.nav__link.active {
    background-color: get-colour(dark-blue, main);
    color: white;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {

}
