/* For all devices */
.pagination.pagination {
    display: block;
    padding: 0;
    list-style: none;
}

.pagination__item {
    display: inline-block;
}

.pagination__item-link.pagination__item-link {
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid $dark-colour;
    color: $dark-colour;
}

.pagination__item-link:hover {
    border-color: $primary-colour;
    color: $primary-colour;
}

.pagination__item-link.active,
.pagination__item-link.active:hover {
    background-color: $primary-colour;
    border-color: $primary-colour;
    color: #fff;
}
