.table {
    width: 100%;
    text-align: center;
    border: solid #000000 3px;
}

.table__row {
    border: solid $dark-colour 1px;
}

.table th,
.table td {
    padding: 10px;
}

.table td .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.table thead .table__row {
    background: $grey;
    color: white;
    border-bottom: solid #000000 3px;
}

.table th {
    font-weight: 700;
}

.table tbody .table__row {
    background: white;
}

.table tbody .table__row:nth-child(even) {
    background: $light-grey;
}

