.table {
    width: 100%;
    text-align: left;
    border: solid $dark-colour 3px;
    border-top: 0;
}

.table__row {
    border: solid $dark-colour 1px;
}

.table thead .table__row {
    display: none;
}

.table__column {
    display: block;
    padding: 4px 10px;
    background: white;
}

.table__row:nth-child(even) .table__column {
    background: $light-grey;
}

.table__column--no-padding {
    padding: 0
}

.table__column[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
}

@media only screen and (min-width: $tablet-width) {
    .table thead .table__row {
        display: table-row;
        border-top: 0;
    }

    .table__header,
    .table__column {
        padding: 10px;
    }

    .table--sticky thead {
        position: sticky;
        top: 0;
    }

    .table__header {
        font-weight: 700;
        background: $dark-colour;
        color: white;
        border-bottom: solid $dark-colour 3px;
    }

    .table__column {
        display: table-cell;
    }

    .table__column[data-title]:before {
        content: none;
    }

    .table__header--center,
    .table__column--center {
        text-align: center;
    }
}
