.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.login__form {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.login__feedback {
    padding: 5px;
    display: block;
    text-align: center;
    margin: 5px;
}
