.login {
    padding: 0;
    text-align: center;
    background: $primary-colour;
}

.login__form {
    width: 90%;
    margin: auto;
    padding: 20px 14px;
    border-radius: 6px;
    background: $light-colour;
}

.login__feedback {
    display: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.login__feedback--active {
    display: block;
}

@media only screen and (min-width: $tablet-width) {
    .login__form {
        padding: 60px 40px;
        max-width: 400px;

        label {
            margin-bottom: 2px;
        }

        .input {
            margin-bottom: 18px;
        }
    }
}
