.login {
    text-align: center;
}

.login__form {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.login__feedback {
    display: none;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

.login__feedback--active {
    display: block;
}
