.projects-select {
    display: none;
    text-align: right;
    margin: 20px 0;
    padding: 20px 0;
    background: #ffffff;
    border-radius: 6px;
    border: solid $light-grey 1px;
}

.projects-select--active {
    display: block;
}

.projects-select__feedback {
    display: none;
    padding: 5px;
    text-align: center;
}

.projects-select__feedback--active {
    display: block;
}

.projects-select__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 16px 20px;
}

.projects-select-filter {
    width: calc(50% - 8px)
}

.projects-select__edit-button,
.projects-select__delete-button {
    margin: 0 4px 0 0;
    padding: 0;
    vertical-align: middle;
    line-height: 0;

    .material-symbols-outlined {
        pointer-events: none;
    }
}

.projects-select__edit-button {
    .material-symbols-outlined {
        color: get-colour(orange, main);
    }

    &:hover .material-symbols-outlined {
        color: get-colour(orange, hover);
    }
}

.projects-select__delete-button {
    .material-symbols-outlined {
        color: get-colour(red, main);
    }

    &:hover .material-symbols-outlined {
        color: get-colour(red, hover);
    }
}

.projects-select .pagination {
    margin-right: 20px;
}

.projects-select .pagination__item:last-child .pagination__item-link {
    margin-right: 0;
}

@media only screen and (min-width: $desktop-width) {
    .projects-select-filter {
        width: auto;
    }

    .projects-select-filter--search {
        flex: 1;
        text-align: left;
        margin-left: 0;

        input {
            max-width: 200px;
        }
    }
}
