.projects-select {
    display: none;
    text-align: right;
}

.projects-select__add-button.projects-select__add-button {
    margin: 15px 0;
}

.projects-select__feedback {
    padding: 5px;
    display: block;
    text-align: center;
}

.projects-select .pagination__item:last-child .pagination__item-link {
    margin-right: 0;
}
