@charset "UTF-8";
/*
  IMPORT ALL NECESSARY CSS FILES
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: " ";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/webfonts/cabin-latin-regular.eot?v=14");
  src: local("Cabin"), local("Cabin-Regular"), url("/assets/webfonts/cabin-latin-regular.eot?v=14#iefix") format("embedded-opentype"), url("/assets/webfonts/cabin-latin-regular.woff2?v=14") format("woff2"), url("/assets/webfonts/cabin-latin-regular.woff?v=14") format("woff"), url("/assets/webfonts/cabin-latin-regular.ttf?v=14") format("truetype"), url("/assets/webfonts/cabin-latin-regular.svg?v=14#Cabin") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* For all devices */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: left;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.main-content {
  display: flex;
  width: 100%;
  transition: margin-left 0.4s ease-in-out, padding-left 0.4s ease-in-out;
}

/* Only for Desktops */
@media only screen and (min-width: 980px) {
  .container {
    max-width: 1170px;
  }
}
/*
  Any base css for all pages.
  Any css for components/templates that will only have 1 line of code if separated.
*/
/* For all devices */
body {
  font: 400 14px "Cabin", sans-serif;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #f1f1f1;
  color: #333333;
  overflow-x: hidden;
}

a {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 700;
}

/* Only for Desktops */
@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
  Any css for many templates and/or components.
*/
.fixed-overlay {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -10;
  padding: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out, z-index 0s ease-in-out;
}

.fixed-overlay--active {
  display: flex;
  z-index: 10;
  opacity: 1;
}

.fixed-overlay--loading {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  background: rgba(51, 51, 51, 0.6);
}

.fixed-overlay__text {
  margin: auto;
  color: white;
}

/* For tablets & desktops */
@media only screen and (min-width: 768px) {
  .fixed-overlay--loading {
    font-size: 100px;
    line-height: 110px;
  }
}
/* For all devices */
button,
[type=button],
[type=submit] {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn {
  font: inherit;
  margin: 5px;
  width: auto;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
  background-color: #333333;
}
.btn .material-symbols-outlined {
  pointer-events: none;
}

.btn:hover,
.btn:focus {
  background-color: #262626;
}

.btn:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.btn--light-blue {
  background-color: #54c6e2;
  color: white;
}

.btn--light-blue:hover,
.btn--light-blue:focus {
  background-color: #53d1ec;
}

.btn--dark-blue {
  background-color: #0375b4;
  color: white;
}

.btn--dark-blue:hover,
.btn--dark-blue:focus {
  background-color: #0382c3;
}

.btn--purple {
  background-color: #82379d;
  color: white;
}

.btn--purple:hover,
.btn--purple:focus {
  background-color: #9339af;
}

.btn--pink {
  background-color: #f47ab3;
  color: white;
}

.btn--pink:hover,
.btn--pink:focus {
  background-color: #ff82bf;
}

.btn--red {
  background-color: #f12525;
  color: white;
}

.btn--red:hover,
.btn--red:focus {
  background-color: #fa0f0f;
}

.btn--orange {
  background-color: #f69e00;
  color: white;
}

.btn--orange:hover,
.btn--orange:focus {
  background-color: #fba300;
}

.btn--yellow {
  background-color: #ffef38;
  color: #333333;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #fffd3c;
}

.btn--light-green {
  background-color: #3dc714;
  color: white;
}

.btn--light-green:hover,
.btn--light-green:focus {
  background-color: #3bcf14;
}

.btn--lime-green {
  background-color: #b5cf16;
  color: white;
}

.btn--lime-green:hover,
.btn--lime-green:focus {
  background-color: #bdd716;
}

.btn--dark-green {
  background-color: #1aad5b;
  color: white;
}

.btn--dark-green:hover,
.btn--dark-green:focus {
  background-color: #1bbe69;
}

.btn--grey {
  background-color: #7b8676;
  color: white;
}

.btn--grey:hover,
.btn--grey:focus {
  background-color: #889283;
}

.btn--black {
  background-color: #333333;
  color: white;
}

.btn--black:hover,
.btn--black:focus {
  background-color: #262626;
}

.btn--clear {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.btn--clear:hover,
.btn--clear:focus,
.btn--clear:active,
.btn--clear:active:hover,
.btn--clear:active:focus {
  background-color: transparent;
  color: #cccccc;
}

a.btn {
  margin: 5px;
  transition: none;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

/* Only for Desktops */
@media only screen and (min-width: 980px) {
  .btn {
    margin: 7px;
  }
}
/* For all devices */
.input-group:not(:last-child) {
  margin-bottom: 14px;
}

label,
.label {
  margin: 0 0 2px;
  font-weight: 700;
  display: inline-block;
}
label span,
.label span {
  font-size: 14px;
  font-weight: 400;
}

.notice {
  color: #f12525;
  font-weight: 700;
}

.input {
  font: inherit;
  padding: 6px 12px;
  margin: 0 auto;
  width: 100%;
  border: solid #e2e2e2 1px;
  border-radius: 2px;
  color: #333333;
  outline: none;
  background: white;
  transition: all 0.3s ease-in-out;
}

.input--inline {
  display: inline-block;
  width: auto;
}

.input::placeholder {
  color: #7b8676;
}

.input:focus {
  border-color: #333333;
}

.input.invalid {
  border-color: #e52525;
}

.input.valid {
  border-color: #1aad5b;
}

.styled-checkbox {
  position: relative;
  padding-left: 32px;
  padding-top: 2px;
  height: 100%;
}

.styled-checkbox .checkbox {
  opacity: 0;
  display: inline;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.styled-checkbox__label {
  margin: 0;
  cursor: pointer;
}

.styled-checkbox__pseudo {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  border: 2px solid #333333;
  transition: all 0.3s ease-in-out;
}

.styled-checkbox .checkbox:focus + .styled-checkbox__pseudo,
.styled-checkbox:hover .checkbox + .styled-checkbox__pseudo {
  border-color: #1aad5b;
}

.styled-checkbox .checkbox:checked + .styled-checkbox__pseudo {
  background-color: #1aad5b;
  border-color: #1aad5b;
}

.styled-checkbox__pseudo:after {
  display: none;
  content: "✔";
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.styled-checkbox .checkbox:checked ~ .styled-checkbox__pseudo:after {
  text-align: center;
  display: block;
}

.radio-toggle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.radio-toggle__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f12525;
  transition: 0.4s;
  border-radius: 34px;
}
.radio-toggle__toggle:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 10px;
  bottom: 6px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .radio-toggle__toggle {
  background-color: #1aad5b;
}

input:focus + .radio-toggle__toggle {
  box-shadow: 0 0 1px #1aad5b;
}

input:checked + .radio-toggle__toggle:before {
  transform: translateX(18px);
}

.feedback {
  font-weight: 700;
  margin: 0;
}

.feedback--success {
  color: #1aad5b;
}

.feedback--error {
  color: #e52525;
}

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .styled-checkbox {
    padding-top: 6px;
    padding-left: 38px;
  }
  .styled-checkbox__pseudo {
    width: 34px;
    height: 34px;
  }
  .styled-checkbox__pseudo:after {
    font-size: 20px;
    line-height: 30px;
  }
}
.nav {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 #333333;
  text-align: right;
  transition: width 0.4s ease-in-out;
  width: 56px;
}

.nav--shown {
  display: block;
}

.nav--opened {
  width: 200px;
}
.nav--opened .nav__toggle:hover {
  border-color: #fa0f0f;
}
.nav--opened .nav__toggle:hover .nav__toggle-bar {
  background-color: #fa0f0f;
}

.nav + .main-content {
  margin-left: 0;
  padding-left: 56px;
}

.nav--opened + .main-content {
  position: relative;
  margin-left: 200px;
  padding-left: 0;
}
.nav--opened + .main-content::before {
  content: " ";
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.nav__toggle {
  margin: 20px 10px 6px 10px;
  padding: 7px;
  border: solid transparent 2px;
  border-radius: 50%;
  transition: all 0.7s ease-in-out;
}

.nav__toggle-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #333333;
  transition: all 0.7s ease-in-out;
  position: relative;
}

.nav--opened .nav__toggle {
  border-color: #f12525;
}

.nav--opened .nav__toggle-bar {
  background-color: #f12525;
}

.nav__toggle-bar:nth-child(2) {
  top: 0;
}

.nav__toggle-bar:nth-child(3) {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.nav__toggle-bar:nth-child(4) {
  top: 0;
  margin-top: 4px;
}

.nav--opened .nav__toggle-bar:nth-child(2) {
  top: 6px;
  transform: rotate(45deg);
}

.nav--opened .nav__toggle-bar:nth-child(3),
.nav--opened:hover .nav__toggle-bar:nth-child(3) {
  background-color: transparent;
  width: 0;
}

.nav--opened .nav__toggle-bar:nth-child(4) {
  top: -6px;
  transform: rotate(-45deg);
}

.nav__links {
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  border-top: #e2e2e2 1px solid;
  text-align: left;
  opacity: 0;
  overflow: hidden;
}

.nav--opened .nav__links {
  opacity: 1;
}

.nav__link {
  display: block;
  padding: 9px 12px;
  color: #333333;
  white-space: nowrap;
}
.nav__link span {
  vertical-align: middle;
}
.nav__link .material-symbols-outlined {
  font-size: 28px;
  padding-right: 16px;
  pointer-events: none;
}

.nav__link:focus,
.nav__link:hover {
  color: #0375b4;
}

.nav__link.active {
  background-color: #0375b4;
  color: white;
}

/* For Tablets & Desktops */
.table {
  width: 100%;
  text-align: left;
  border: solid #333333 3px;
  border-top: 0;
}

.table__row {
  border: solid #333333 1px;
}

.table thead .table__row {
  display: none;
}

.table__column {
  display: block;
  padding: 4px 10px;
  background: white;
}

.table__row:nth-child(even) .table__column {
  background: #e2e2e2;
}

.table__column--no-padding {
  padding: 0;
}

.table__column[data-title]:before {
  content: attr(data-title) ": ";
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .table thead .table__row {
    display: table-row;
    border-top: 0;
  }
  .table__header,
  .table__column {
    vertical-align: middle;
  }
  .table--sticky thead {
    position: sticky;
    top: 0;
  }
  .table__header {
    padding: 10px;
    font-weight: 700;
    background: #333333;
    color: white;
    border-bottom: solid #333333 3px;
  }
  .table__column {
    display: table-cell;
    padding: 14px;
  }
  .table__column[data-title]:before {
    content: none;
  }
  .table__header--center,
  .table__column--center {
    text-align: center;
  }
}
/* For all devices */
.pagination.pagination {
  display: block;
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.pagination__item {
  display: inline-block;
}

.pagination__item-link.pagination__item-link {
  display: inline-block;
  margin: 6px 4px;
  cursor: pointer;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #333333;
  color: #333333;
}

.pagination__item-link:hover {
  border-color: #0375b4;
  color: #0375b4;
}

.pagination__item-link.active,
.pagination__item-link.active:hover {
  background-color: #0375b4;
  border-color: #0375b4;
  color: #fff;
}

.login {
  padding: 0;
  text-align: center;
  background: #0375b4;
}
.login .input {
  border-radius: 6px;
}

.login__form {
  width: 90%;
  margin: auto;
  padding: 14px 14px 20px;
  border-radius: 6px;
  background: #f1f1f1;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.4);
}

.login__logo {
  border-radius: 50%;
  border: 1px solid #0375b4;
  background: #0375b4;
  margin-bottom: 14px;
  height: 40px;
}

.login__feedback {
  display: none;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.login__feedback--active {
  display: block;
}

.login__submit {
  margin: 6px 0 0;
  padding: 8px 24px;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .login__form {
    padding: 20px 40px;
    max-width: 400px;
  }
  .login__form .input-group {
    margin-bottom: 18px;
  }
  .login__logo {
    margin-bottom: 20px;
  }
}
.projects-select {
  display: none;
  text-align: right;
  padding: 20px 0;
}

.projects-select--active {
  display: block;
}

.projects-select__feedback {
  display: none;
  padding: 5px;
  text-align: center;
}

.projects-select__feedback--active {
  display: block;
}

.projects-select__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.projects-select-filter {
  width: calc(50% - 15px);
}

.projects-select__edit-button,
.projects-select__delete-button {
  margin: 0 8px;
  padding: 0;
  vertical-align: middle;
  line-height: 0;
}
.projects-select__edit-button .material-symbols-outlined,
.projects-select__delete-button .material-symbols-outlined {
  pointer-events: none;
}

.projects-select__edit-button .material-symbols-outlined {
  color: #f69e00;
}
.projects-select__edit-button:hover .material-symbols-outlined {
  color: #fba300;
}

.projects-select__delete-button .material-symbols-outlined {
  color: #f12525;
}
.projects-select__delete-button:hover .material-symbols-outlined {
  color: #fa0f0f;
}

.projects-select .pagination__item:last-child .pagination__item-link {
  margin-right: 0;
}

@media only screen and (min-width: 980px) {
  .projects-select-filter {
    width: auto;
  }
  .projects-select-filter--search {
    flex: 1;
    text-align: left;
    margin-left: 0;
  }
  .projects-select-filter--search input {
    max-width: 200px;
  }
}
.project-edit {
  display: none;
  margin-bottom: 18px;
}

.project-edit--active {
  display: block;
}

.project-edit__header {
  padding-top: 18px;
  margin-bottom: 18px;
}

.project-edit__header-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.project-edit__form {
  text-align: left;
}

.project-edit__sidebar-block {
  margin-bottom: 18px;
}

.project-edit__meta-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-edit__meta-item:not(:last-child) {
  margin-bottom: 7px;
}

.project-edit__save-button {
  display: block;
  margin: 0;
  font-weight: 400;
}

.project-edit__back-button.project-edit__back-button {
  margin: 0;
  line-height: 1;
  font-size: 0;
}

.project-edit__main {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.05);
}

.project-edit__tabs-bar {
  background: #f1f1f1;
  display: flex;
}

.project-edit__tabs-bar-item {
  font: inherit;
  font-weight: 700;
  padding: 8px 20px;
  background: #f1f1f1;
  border-right: 1px solid #e2e2e2;
}

.project-edit__tabs-bar-item--active {
  background: #fff;
  border-right: none;
}

.project-edit__tabs-content {
  display: none;
}

.project-edit__tabs-content--active {
  display: block;
}

.project-edit__tabs-content {
  padding: 24px 20px;
}

.project-edit__uploads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-edit__upload {
  width: 50%;
  margin: 14px auto;
  padding: 5px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
}

.project-edit__upload--success {
  border-color: #0375b4;
}

.project-edit__upload--success img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}

.project-edit__upload--failed {
  border-color: #d71a1a;
  color: #e52525;
}

.project-edit__feedback {
  display: block;
  position: relative;
  text-align: center;
  color: white;
  background: white;
  border: 1px solid white;
  margin: 0 0 15px;
  padding: 10px;
  opacity: 1;
  max-height: 50px;
  transition: opacity 0.2s ease-in-out, padding 0.2s ease-in-out 0.2s, max-height 0.2s ease-in-out 0.2s;
}

.project-edit__feedback.hide {
  opacity: 0;
  padding: 0;
  margin: 0;
  max-height: 0;
}

.project-edit__feedback.feedback--error {
  border-color: #e52525;
  background: #e52525;
}

.project-edit__feedback.feedback--success {
  border-color: #1aad5b;
  background: #1aad5b;
}

.project-edit__hide-error {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  color: white;
  font-weight: 700;
  padding-left: 30px;
  transform: translateY(-50%);
}

.project-edit__image-container {
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 5px 0;
  text-align: center;
  background-color: white;
  list-style: none;
  border: 1px solid #e2e2e2;
  line-height: 0;
}
.project-edit__image-container img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
}
.project-edit__image-container .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.19);
}
.project-edit__image-container .btn .material-symbols-outlined {
  font-size: 20px;
  line-height: 1.2;
}

.project-edit__tag-input-container {
  position: relative;
  margin-top: 4px;
}

.project-edit__tag-input {
  margin: 0;
  width: 100%;
}

.project-edit__tag-add-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.project-edit__tag {
  position: relative;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 2px 5px;
  display: inline-block;
  margin: 2px;
  transition: all 0.4s ease-in-out;
  background-color: #333333;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.project-edit__tag span {
  vertical-align: middle;
}

.project-edit__tag--to-delete {
  background: #e52525;
  border-color: #d71a1a;
}

.project-edit__tag-delete-button {
  margin: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  font-weight: 700;
}

.project-edit__tag-delete-button:hover,
.project-edit__tag-delete-button:active {
  background-color: transparent;
}

.project-edit__image-drop-zone.project-edit__image-drop-zone {
  display: flex;
  position: relative;
  min-height: 150px;
  padding: 50px;
  background: #afb6ac;
  transition: background 0.3s linear;
  margin: 14px 0;
}

.project-edit__image-drop-zone.drag-over {
  background: #333333;
}

.project-edit__image-drop-zone-text {
  text-align: center;
  color: white;
}

.project-edit__image-drop-zone-text {
  margin: auto;
}

.project-edit__image-upload {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.project-edit__faux-image-upload {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project-edit__faux-image-upload:hover {
  color: black;
}

/* For tablets and some are for desktops */
@media only screen and (min-width: 768px) {
  .project-edit__image-container {
    width: calc(50% - 7px);
    display: inline-block;
  }
  .project-edit__image-container:nth-child(odd) {
    margin: 0 5px 10px 0;
  }
  .project-edit__image-container:nth-child(even) {
    margin: 0 0 10px 5px;
  }
  .project-edit__image-container:last-child,
  .project-edit__image-container:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0;
  }
  .project-edit__image-container:last-child:nth-child(odd) {
    margin-right: 0;
  }
}
/* For desktops */
@media only screen and (min-width: 980px) {
  .project-edit__form {
    padding: 0;
  }
  .project-edit__header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
  }
  .project-edit__sidebar {
    width: 320px;
    float: right;
    position: sticky;
    top: 16px;
  }
  .project-edit__sidebar-block {
    padding: 10px 20px;
    margin-bottom: 16px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.05);
  }
  .project-edit__meta-item {
    width: 100%;
    text-align: right;
  }
  .project-edit__main {
    width: calc(100% - 340px);
    margin-right: 20px;
    float: left;
  }
  .project-edit__tag-add-button {
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
