$red: #f12525;
$red-light: #fa0f0f;

$orange: #f69e00;
$orange-light: #fba300;

$error-colour: #e52525;
$success-colour: #1aad5b;

$light-colour: #f1f1f1;
$light-grey: #e2e2e2;
$grey: #7b8676;
$dark-colour: #333333;

$v-gutter: 18px;
$v-spacing: 14px;
